[submodule "frontend"]
	path = frontend
	url = https://gitcode.com/openeuler/yuanrong-frontend.git
	branch = master
[submodule "datasystem"]
	path = datasystem
	url = https://gitcode.com/openeuler/yuanrong-datasystem.git
	branch = master
[submodule "functionsystem"]
	path = functionsystem
	url = ../yuanrong-functionsystem.git
	branch = master
[submodule "sandbox-sdk"]
	path = sandbox-sdk
	url = ../yuanrong-sandbox-sdk.git
	branch = master
